VITE_API_KEY=XXXXXXX-XXXXXXX-XXXXXXX-XXXXXXX
APP_API_URL=./api-poiskkino-dev-documentation-json.json
VITE_BASE_URL=https://api.poiskkino.dev
VITE_SENTRY_DSN=<sentry-dsn>
SENTRY_AUTH_TOKEN=<sentry-auth-token>
SENTRY_ORG=<sentry-org-slug>
SENTRY_PROJECT=<sentry-project-slug>